<!DOCTYPE html>
<html>
    <head>
        <title>Barangay 496 | About Us</title>
        <link rel="stylesheet" href="/CSS/about-us.css">
        <link rel="icon" href="/images/loFinal.png">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/images/loFinal.png" class="logo-image" alt="Picture of Logo" style="cursor: pointer;"></a>
            </div>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="/about-us">About</a>
                <a href="/contact-us">Contact</a>
                <button class="signup-icon" onclick="location.href='/register'">Sign Up</button>
            </div>
        </div>
        <div class="about-us-bg">
            <div class="cntnt">
                <h1>About Us</h1>
                <p>"Sama-sama tulong-tulong <br> tungo sa mapayapang Barangay"</p>
            </div>
        </div>
        <div class="brgy-profile">
            <div class="img">
                <img src="/images/cptain-img.png" alt="">
            </div>
            <div class="dscrptn">
                <p id="tit"><ion-icon size="large" name="remove-outline"></ion-icon>Barangay Captain</p>
                <h1>Edmond B. Dela Paz</h1>
                <hr>
                <p id="des">Barangay Captain Edmond B. Dela Paz is a dedicated and community-oriented leader who serves as the head of his barangay. With a strong commitment to public service, addressing the needs and concerns of his constituents.
                    <br>
                    <br>
                    
                    One of his notable characteristics is his accessibility and approachability. Residents feel comfortable approaching him with their issues, knowing that he will listen attentively and take action to address their concerns.
                </p>
            </div>
        </div>
        <div class="vission-mission-cnts">
            <div class="mission">
                <h1>Our Mission</h1>
                <hr>
                <br>
                <br>
                <p>
                    Our mission at Barangay Online System is to empower barangay residents with a user-friendly 
                    platform that streamlines access to essential services, fostering a more connected and engaged community. 
                    <br>
                    <br>
                    We believe in harnessing technology to bridge gaps, reduce barriers, and make public services more accessible 
                    and efficient. 
                    <br>
                    <br>
                    By providing a seamless online experience, we aim to simplify bureaucratic processes, promote 
                    transparency, and enhance communication between residents and local government, ultimately contributing to a 
                    more cohesive and responsive barangay.</p>
            </div>
            <div class="vission">
                <h1>Our Vision</h1>
                
                <hr>
                <br>
                <br>
                <p>Our vision is to create a digitally advanced barangay where residents have effortless access to a comprehensive range of public services and resources 
                    <br>
                    <br>
                    We aspire to be a model for modern governance, where technology facilitates community engagement, fosters accountability, and encourages civic participation
                    <br>
                    <br>
                    By embracing innovation, we aim to transform the traditional barangay into a dynamic and inclusive digital ecosystem, providing a platform that not only meets the current needs of residents but also adapts to future challenges, ensuring sustainable growth and an improved quality of life for all</p>
            </div>
        </div>
        <div class="supporting-about">
            We invite you to be a part of our mission to create a stronger, more connected community. Together, we can foster a spirit of cooperation and shared responsibility, making our barangay a place where everyone feels valued and heard. We're committed to being by your side as we work toward a safer, more harmonious barangay.                    <br>
            <br>Through collaboration and mutual support, we can achieve a community where everyone thrives. Join us on this journey—SAMA-SAMA, TULONG-TULONG TUNGO SA MAPAYAPANG BARANGAY.<br>
            As we move forward, we are excited to explore new opportunities for growth and engagement within our barangay. <br><br>We believe that every resident has a role to play in shaping our community's future, and we are dedicated to providing the tools and resources to make that possible. By working together, we can create a vibrant, inclusive, and sustainable barangay that stands as a beacon of unity and progress.<br><br> We encourage you to bring your ideas, energy, and enthusiasm as we continue to build a brighter tomorrow for all. Let's create a community that celebrates diversity and nurtures the potential of every individual.                   <br>
            <br>Together, we are stronger.
        </div>
        <div  class="footer">
            <div class="cntnt">
                <img src="/images/loFinal.png" class="logo-image" alt="Picture of Logo">
                <p>A Barangay that is God-centered, competent, orderly, honest, peaceful, credible, gender responsive and abides the Code of Conduct.</p>  
            </div>
            <div class="cpyright">
                © 2024 | COPYRIGHT: BARANGAY 496 | SAMPALOC, MANILA
            </div>
        </div>
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>