<!DOCTYPE html>
<html>
    <head>
        <title>Barangay 496 | Contact Us</title>
        <link rel="stylesheet" href="/CSS/contact-us.css">
        <link rel="icon" href="/images/loFinal.png">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/images/loFinal.png" class="logo-image" alt="Picture of Logo" style="cursor: pointer;"></a>
            </div>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="/about-us">About</a>
                <a href="/contact-us">Contact</a>
                <button class="signup-icon" onclick="location.href='/register'">Sign Up</button>
            </div>
        </div>
        <div class="about-us-bg">
            <div class="cntnt">
                <h1>Contact Us</h1>

            </div>
        </div>
        <div class="cntct-cnts">
            <div class="phn">
                <img src="/images/phone-cntct.png">
                <p><b>Phone No.</b></p>
                <p>09427422964 </p>
            </div>
            <div class="ddrss">
                <img src="/images/pin-cntct.png" style="margin-top: 15px;">
                <p><b>Address</b></p>
                <p>1425 Ibarra Street, Cor. Maria Clara Simoun, Sampaloc, Manila</p>
            </div>
            <div class="ml">
                <img src="/images/email-cntct.png">
                <p><b>E-mail.</b></p>
                <p>barangay.496.district.4@gmail.com </p>
            </div>
            <div class="wrkng-hrs">
                <img src="/images/clock-cntct.png">
                <p><b>Opening Hours</b></p>
                <p>Monday - Saturday, 8 AM - 8 PM</p>
            </div>
        </div>
        <div class="mapcnts">
            <h1>View Map</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1623.1878238691045!2d120.99303302858809!3d14.62110736605582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b60f324e7fd9%3A0x353e5d4fab656437!2s1425%20Ibarra%20St!5e0!3m2!1sen!2sph!4v1715343484189!5m2!1sen!2sph" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div  class="footer">
            <div class="cntnt">
                <img src="/images/loFinal.png" class="logo-image" alt="Picture of Logo">
                <p>A Barangay that is God-centered, competent, orderly, honest, peaceful, credible, gender responsive and abides the Code of Conduct.</p>  
            </div>
            <div class="cpyright">
                © 2024 | COPYRIGHT: BARANGAY 496 | SAMPALOC, MANILA
            </div>
        </div>



        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>