<!DOCTYPE html>
<html>
    <head>
        <title>Barangay 496 | Learn More</title>
        <link rel="stylesheet" href="/CSS/learn-more.css">
        <link rel="icon" href="/images/loFinal.png">
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="/images/loFinal.png" class="logo-image" alt="Picture of Logo" style="cursor: pointer;"></a>
            </div>
            <div class="navigation">
                <a href="/">Home</a>
                <a href="/about-us">About</a>
                <a href="/contact-us">Contact</a>
                <button class="signup-icon" onclick="location.href='/register'">Sign Up</button>
            </div>
        </div>
        <div class="about-us-bg">
            <div class="cntnt">
                <h1>Learn More</h1>
            </div>
        </div>
        <div class="lrn-cnts">
            <pre>

<b>INTRODUCTION</b>
Welcome to Barangay 496  Our Privacy Policy governs your visit to our website and outlines how we collect, protect, and disclose information obtained from your use of our Service.
We utilize your data to enhance and optimize the Service we provide. By accessing and using our Service, you consent to the collection and utilization of information as outlined in this policy. Unless otherwise specified in this Privacy Policy, the terms mentioned herein carry the same meanings as those in our Terms and Conditions.
Our Terms and Conditions ("Terms") regulate all aspects of Service usage and, when combined with the Privacy Policy, constitute your agreement with us ("agreement").

<b>DEFINITIONS</b>
SERVICE means the Barangay 496  website operated by Barangay 496
PERSONAL DATA pertains to information concerning an identifiable living individual, whether derived solely from that data or in combination with other information within our possession or likely to come into our possession.
USAGE DATA encompasses information automatically gathered, either through the utilization of our Service or directly from the Service's infrastructure. For instance, it includes details such as the duration of a page visit.
DATA SUBJECT any living individual who is the subject of Personal Data.
USER the individual using our Service.

<b>INFORMATION COLLECTION AND USE</b>
By collecting your different types of information, it will be used for various purposes to provide and improve the services to you.

<b>TYPES OF DATA COLLECTED</b>
With our service, we may ask you to provide us with personally identifiable information (PII), or “Personal Data” to be used for contacting and identifying you. Information may include:
0.1	Email address
0.2	First name and last name
0.3	Phone number
0.4	Address

<b>USE OF DATA</b>
0.1	To provide and maintain our services;
0.2	Notify you about changes to our services;
0.3	Customer support;
0.4	To provide news and updates
0.5	For any purpose with your consent

<b>CONSENT</b>
By reaching this point, I have read this page and understood its contents and consent to the processing of my personal data. I understand that my consent does not preclude the existence of other criteria for lawful processing of personal data, and does not waive any of my rights under the Data Privacy Act of 2012 and other applicable laws.

            </pre>
        </div>
        <div  class="footer">
            <div class="cntnt">
                <img src="/images/loFinal.png" class="logo-image" alt="Picture of Logo">
                <p>A Barangay that is God-centered, competent, orderly, honest, peaceful, credible, gender responsive and abides the Code of Conduct.</p>  
            </div>
            <div class="cpyright">
                © 2024 | COPYRIGHT: BARANGAY 496 | SAMPALOC, MANILA
            </div>
        </div>
        
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>