<!DOCTYPE html>
<html>
  <head>
    <title>Success Verification</title>
    <link rel="icon" href="/images/loFinal.png">
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
      body{
        margin: 0;
        font-family: "Poppins", sans-serif;
      }
      .conts{
        width: 100%;
        height: 100vh;

        margin: 0; /* No margin */
        padding: 0; /* No padding */
        display: flex; /* Allows centering content if needed */
        justify-content: center; /* Horizontally center content */
        align-items: center; /* Vertically center content */
      }
      .content{
        width: 100%;
        border: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        background-color: rgb(29, 28, 28);
        color: white;
      }

      .content h3{
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: 500;
      }

      .content p{
        font-size: 20px;
      }
      .content img{
        width: 200px;
        position: absolute;
        top: 220px;
      }

    </style>
  </head>
  <body>
    <div class="conts">
      <div class="content">
        <img src="/images/check.png">
        <h3>SUCCESS</h3>
        <p>You successfully verified your email.</p>
      </div>
    </div>
  </body>
</html>