<!DOCTYPE html>
<html>
    <head>
        <title>User Page</title>
        <link rel="stylesheet" href="/CSS/user-home-page-style.css">
    </head>
    <body>
        <div class="header-wrapper">
            <img src="/images/loFinal.png" class="brgy-logo" alt="Barangay Logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Newsfeeed</a></li>
                <li><a href="#">StatusHub</a></li>
            </ul>
            <img src='/images/userPfile.avif' class="user-logo" alt="profile pic">

            <div class="profile-wrap-main"  id="sub-menu">
                <div class="profile-wrapper">
                    <div class="profile-name">
                        <img src="/images/userPfile.avif" alt="">
                        <h2>Jack E Chan</h2>
                    </div>
                    <div class="profile-drop-down">
                        
                       <a href="#" class="drop-down-link">
                        <img src="/images/user-drop-down.png" alt="user" class="drop-down-icon">
                        <p>Edit Profile</p>
                        <span>></span>
                       </a>
                       <a href="#" class="drop-down-link">
                        <img src="/images/logout-drop-down.png" alt="user" class="drop-down-icon">
                        <p>Log out</p>
                        <span>></span>
                       </a>
                    </div>     
                </div>
            </div>
        </div>  

        <div class="content">
            <div class="our-services">
              <h1>Service Available</h1>
              <p>Covering all residents of Barangay 496</p>
            </div>
            <div class="service-choices">
              <div class="title"><h1>Select your required service</h1>
              </div>
              <div class="choices-div choices">
                  <div class="choice"><img src="/images/licensing.png"><h2>Request Document</h2></div>
                  <div class="choice"><img src="/images/schedule.png"><h2>Set Appointment</h2></div>
                  <div class="choice"><img src="/images/ccomlaints.png"><h2>Write Complaint</h2></div>
              </div>
            </div>
          </div>

        <div class="guide-content-verify">
            <p>To uphold the highest standards of security and safeguard the integrity of our services, 
                it is imperative that all users undergo a one-time verification process prior to gaining access. 
                This essential measure is implemented to fortify the protection of your personal information, 
                ensuring its confidentiality and shielding against any potential unauthorized access or misuse.
                <br>
                <br>
                <button class="verify-button">Verify your account</button>
            </p>
            <img src="/images/verified.webp" alt="verified">
        </div>
        <div class="guide-content-info">
            <h2>Our Features</h2>
            <div class="wrapper">
                <div id="columns">
                    <img src="/images/document-info.png" id="doc-info">
                    <div class="h3"><h3>Requesting</h3>
                        <h3>Documents</h3></div>
                    <p>Easily obtain essential documents like Barangay Clearance, Indigency Certificates, 
                        Solo Parent Certificates, and more through our efficient barangay service.
                        Simplify your administrative tasks with us today.
                    </p>
                    <div class="learn-more">
                        <h4>Learn More</h4> 
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                </div>
                <div id="columns">
                    <img src="/images/appoint-info.png" id="doc-info">
                    <div class="h3"><h3>Setting</h3>
                        <h3>Appointments</h3></div>
                    <p>
                        Streamline your barangay appointments effortlessly with our service. 
                        Book appointments for various administrative tasks with ease, 
                        ensuring your needs are met efficiently and conveniently.
                    </p>
                    <div class="learn-more">
                        <h4>Learn More</h4> 
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                </div>
                <div id="columns">
                    <img src="/images/complaint-info.png" id="doc-info">
                    <div class="h3"><h3>Writing</h3>
                    <h3>Complaints</h3></div>
                    <p>
                        Drafting complaints has never been easier with our assistance. 
                        We'll help you articulate your grievances effectively, 
                        ensuring your concerns are heard and addressed promptly.
                    </p>
                    <div class="learn-more">
                        <h4>Learn More</h4> 
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-us">
            <h2>Contact us</h2>
            <div class="content">
                <div class="form-box log-in">
                    <h3>Send us a message</h3>
                    <form action="#">
                        <div class="input-box">
                            <input type="text" required placeholder="Name" class="email">
                        </div>
                        <div class="input-box">
                            <input type="email" id="password" required placeholder="Email" class="password">
                        </div>
                        <div class="text-area">
                            <textarea  placeholder="Message" class="password"></textarea>
                        </div>
                        <button type="submit" class="contact-button">Submit</button>
                    </form>
                </div>
                <div class="contact-list">
                    <h3>Visit Barangay Hall</h3>
                    <p>
                        Feel free to drop by our barangay hall at your convenience.
                         We're here to assist you with any inquiries, concerns, or document needs you may have.
                    </p>
                    <div class="contact-adress list">
                        <img src="/images/gps.png" id="icons">
                        <p><b class="bold">Address</b>
                            <br>1308 Barangay ###, Manila
                        </p>
                    </div>
                    <div class="contact-phone list">
                        <img src="/images/phone-call.png" id="icons">
                        <p><b class="bold">Phone</b>
                            <br>+63 9608208888.
                        </p>
                    </div>
                    <div class="contact-email list">
                        <img src="/images/email.png" id="icons">
                        <p><b class="bold">Email</b>
                            <br>barangay496@gmail.com
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer">
            <h2>Barangay 496.com</h2>
            <p class="text">You're welcome to visit Barangay 496. <br>
             Our doors are open to assist you with any <br>community-related matters or services you may require.</p>
            <p class="copy-right"><b>Copy right © Barangay 2024</b> All right reserved</p>
        </div>



        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script>
        let profile = document.querySelector('.user-logo');
        let dropMenu = document.getElementById('sub-menu');

        profile.addEventListener('click', ()=>{
                dropMenu.classList.toggle('open-menu');
        });


        </script>
    </body>
</html>