@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}



:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

.header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px 200px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-image{
    width: 80px;
}

.navigation a{
    position: relative;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
    font-family: var(--poppins);

}

.navigation button{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 80px;
    transition: .5s;
    font-family: var(--poppins);
}

.navigation button:hover{
    background-color: black;
    color: white;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

.about-us-bg{
    border: solid;
    height: 500px;
    margin-top: 105px;
    background-image: linear-gradient(rgba(46, 44, 44, 0.719),rgba(12, 12, 12, 0.692)), url('/images/about-us-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.about-us-bg .cntnt h1{
    font-size: 100px;
    color: white;
    font-weight: 500;
}

.about-us-bg .cntnt p{
    font-size: 20px;
    color: white;
}

.brgy-profile{
    
    height: 550px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}




body{
    height: 2000px;
}

.brgy-profile .img{
    width: 40%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.brgy-profile .dscrptn{
    width: 60%;
    
    height: 100%;
    padding: 40px;
}

.brgy-profile .dscrptn h1{
    font-size: 50px;
    margin-top: 20px;
}

.dscrptn #des{
    font-size: 18px;
    margin-top: 40px;
}

.dscrptn #tit{
    display: flex;
    align-items: center;
}

.vission-mission-cnts{
    height: 600px;
    margin: 0 auto;
    width: 1200px;
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.vission-mission-cnts > *{
    margin-top: 30px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mission {
    padding: 20px;
    
}

.mission h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
    text-align: center;
    font-size: 40px;
}

.vission h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
    text-align: center;
    font-size: 40px;
}

hr{
    margin: 0 150px;
    height: 2px;
    background-color: #2c2c2c;
    border: none;
}

.vission{
    padding: 20px;
}

.supporting-about{
    height: 550px;
    margin: 0 auto;
    width: 900px;
    margin-top: 50px;
    padding: 20px;
    font-size: 17px;
}


.footer{
    margin-top: 30px;
    border: solid;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
    color: white;
    background-color: #2c2c2c;
}

.footer .cntnt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
}

.footer  img {
    width: 70px;
}

.footer .cpyright{
    border-top: 2px solid;
    width: 100%;
    margin-top: 20px;
}