@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

.header-link{
    display: inline-block;
    padding: 6px;
    padding-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
}

.header-link:hover {
    border: 1px solid rgb(0, 0, 0);
  }





.header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px 200px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-image{
    width: 80px;
}

.navigation img{
    width: 30px;
    position: relative;
    top: 5px;
}
.navigation a{
    position: relative;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
}

.navigation button{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 80px;
    transition: .5s;
}
/*
.navigation button:hover{
    background-color: black;
    color: white;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}
*/
.navigation a:hover::after{
    transform: scaleX(1);
}

.content{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.692)), url('/images/flag.jpg');
    background-position: right 100px top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


/* sign-wrapper for email submition*/
.sign-wrapper{
    margin-top: 50px;
    position: absolute;
    width: 500px;
    height: 320px;
    border-radius: 20px;
    background: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sign-wrapper .form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: black;
    position: relative;
}
.sign-wrapper .form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:black; 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.form-box{
    width: 100%;
    padding: 40px;
}

.form-submit-email .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid;
    border-color: transparent;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0 35px 0 5px;
}


.input-box .icon{
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 57px;
}

::placeholder{
    color: rgb(146, 142, 142);
}

.submit-button{
    width: 40%;
    height: 40px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
    position: relative;
    bottom: -20px;
}

.submit-button:hover{
    opacity: .8;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

/*VERIFY OTP*/

.form{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container input{
    width: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px;
    border-color: #000000;
    outline: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.input-container{
    width: 350px;
    margin-top: 30px;
}


.otp h1{
    font-size: 30px;
    margin-bottom: 50px;
    color: #000000;
    position: relative;
}
.otp h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#000000; 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.otp-wrapper{
    margin-top: 50px;
    position: absolute;
    width: 425px;
    height: 325px;
    background: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.otp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button2{
    width: 60%;
    height: 40px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
    transition: .5s;
}

.submit-button2:hover{
    opacity: .8;
    background: black;
    color: white;
}

/*Reset Password*/

.reset-wrapper{
    margin-top: 50px;
    position: absolute;
    width: 500px;
    height: 380px;
    background: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#000000; 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.form-box{
    width: 100%;
    padding: 40px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid;
    border-color: transparent;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0 35px 0 5px;
}


.input-box .icon{
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 57px;
}

::placeholder{
    color: rgb(146, 142, 142);
}

.submit-button-reset{
    width: 40%;
    height: 40px;
    background: transparent;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    transition: .5s;
}

.submit-button-reset:hover{
    opacity: .8;
    background: black;
    color: white;
}

#message-verify{
    position: relative;
    top: 5px;
    left: -80px;
    color: red;

    
}

#message{
    position: absolute;
    left: 2px;
    margin-top: 2px;
}


/* Sucess reset password */


.success-container{
    display: grid;
    width: 500px;
    height: 400px;
    background-color: rgb(3, 139, 3);
    border-radius: 20px;
}

.success-container img{
    width: 100px;
    position: relative;
    left: 200px;
    top: 50px;
}


.text-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.text-success h2, p, button{
    margin-top: 20px;
}

h2, p, button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

P{
    margin-top: 0;
}
h2, p{
    margin-bottom: 20px;
}

.go-back-button{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(3, 139, 3);
    color: white;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
}

.go-back-button:hover{
    opacity: .8;
}

#submit-email{
    position: absolute;
    color: red;
    margin-top: 2px;
}

#message-confirm{
    position: absolute;
    margin-top: 2px;
}

.eyeButton{
    cursor: pointer;
}