@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}
:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

.header{
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding: 10px 200px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo-image{
    width: 80px;
}

.navigation img{
    width: 30px;
    position: relative;
    top: 5px;
}

.navigation a{
    position: relative;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
}

.navigation button{
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 80px;
    transition: .5s;
}

.navigation button:hover{
    background-color: black;
    color: white;
}
/*
.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform: scaleX(1);
}

*/
.content{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719),rgba(0, 0, 0, 0.692)), url('/images/flag.jpg');
    background-position: right 100px top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sign-wrapper{
    margin-top: 50px;
    position: absolute;
    width: 500px;
    background: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background:#000000; 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}


.form-box{
    width: 100%;
    padding: 40px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid;
    border-color: transparent;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.forget-password a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    
}

.forget-password a:hover, .dont-have-accout a:hover{
    text-decoration: underline;
}

.forget-password{
    text-align: center;
    margin-bottom: 15px;
    font-size: 15px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 57px;
}

::placeholder{
    color: rgb(146, 142, 142);
}

.submit-button{
    width: 60%;
    height: 45px;
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 50px;
    transition: .5s;
}

.submit-button:hover{
    opacity: .8;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

.dont-have-accout{
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    color: rgb(151, 149, 149);
}

.dont-have-accout p a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
}

.forget-password{
    position: absolute;
    right: 30px;
}

#message{
    position: absolute;
    left: 2px;
    top: 55px;
    font-size: 15px;
    display: none;
}

#peek-password{
    width: 40px;
    position: absolute;
    right: -3px;
    top: 10px;
    cursor: pointer;

}

#message-confirm{
    position: absolute; 
    top: 55px;

}

.eyeButton{
    cursor: pointer;
}

.success-container{
    display: grid;
    width: 500px;
    height: 400px;
    background-color: rgb(3, 139, 3);
    border-radius: 20px;
}

.success-container img{
    width: 100px;
    position: relative;
    left: 200px;
    top: 50px;
}


.text-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}

.text-success h2, p, button{
    margin-top: 20px;
}

h2, p, button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

P{
    margin-top: 0;
}
h2, p{
    margin-bottom: 20px;
}

.go-back-button{
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: rgb(3, 139, 3);
    color: white;
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
}

.go-back-button:hover{
    opacity: .8;
}

.header-link{
    display: inline-block;
    padding: 6px;
    padding-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    position: absolute;
}

.header-link:hover {
    border: 1px solid rgb(0, 0, 0);
  }


.custom-sweetalert-button{
    width: 50px;
    height: 45px;
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 50px;
    transition: .5s;
    font-family: var(--poppins);
    margin-top: 0;
}

.custom-sweetalert-button:hover{
    opacity: .8;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}


.custom-sweetalert{
    font-family: var(--poppins);
    font-size: 25px;
    color: black;
}

.custom-popup{
    width: 450px;
}

.custom-icon{
    width: 50px;
    height: 50px;
    color: white;
}


.custom-button-class {
    width: 200px;
    height: 45px;
    background-color: rgba(21, 19, 19, 0.884);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
  }
  
  .custom-button-class:hover {
    opacity: .8;
    color: rgb(0, 0, 0);
  }
  