
body {
    background-color:rgb(217, 214, 214); /* Set the background color of the body */
}

.status-content {
    background-color: white; /* Set the background color of status-content to white */
}




.status-content{
    margin: 0 400px;
    
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);


}

.first-content-status{
    display: flex;
    flex-direction: row;
    padding: 50px 25px 25px 50px;
    background-color:  rgb(255, 217, 92);
}

.first-content-status h1{
    font-size: 45px;
}
.title-first-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
   text-align: center; 
   margin-left: 25px;
   margin-top: 10px;
}
.info p{
    font-size: 14px;
}

hr{
    width: 100%; /* Adjust the width as needed */
    border: none; /* Optional: Remove the default border */
    height: 20px; /* Optional: Adjust the height of the rule */
    background-color: rgba(0, 0, 0, 0.566); /* Optional: Set the color of the rule */
}

.hover-content{
    margin-top: 40px;
    padding: 10px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5),
    inset 5px 0 0 rgba(0, 0, 0, 0), /* No shadow on the left side */
    inset -5px 0 0 rgba(0, 0, 0, 0);
}

/* Hover Content */

.hover-content a{
    position: relative;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    font-family: var(--poppins);
}

.hover-content a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(243, 170, 0);
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
}

.hover-content a:hover::after{
    transform: scaleX(1);
}



.service-label{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
    color: #8c8989;
    margin-top: 40px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5),
    inset 5px 0 0 rgba(0, 0, 0, 0), /* No shadow on the left side */
    inset -5px 0 0 rgba(0, 0, 0, 0);
}

.service-label h3 {
    width: 25%; /* Each block will take up 25% of the container's width */
    text-align: center; /* Optional: Center-align text within each block */
}

.actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.actions div{
    width: 70px;
}

.requested-tables {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center; 
    padding: 30px 0;
    margin-top: 20px;
    border-radius: 10px;
}

.requested-tables > * {
    flex: 1; /* Each child element takes up equal space */
    text-align: center; /* Optional: Center-align text within each element */
}


.requested-tables button {
    align-self: center; /* Align button vertically at the center */

}

.table-status{
    display: flex;
    align-items: center;
    justify-content: center;
}

.requested-tables .table-status .status-div {
    border: none;
    background-color: rgb(255, 149, 0);
    width: 125px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}





.Selectstatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.Selectstatus div{
    margin-left: 15px;
}
 
.Selectstatus select{
    outline-color:  rgb(233, 136, 25);
    width: 150px;
    padding: 2px 0;
    font-size: 16px;
    font-weight: 500;
    border-color: #8c8989c2;
    border-radius: 5px;
}
    
ion-icon[name="close-circle-outline"] {
    color: red; /* Change the color to red */
}

ion-icon {
    cursor: pointer;
}

.noData{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a7a2a2;
}


/* Target the confirm button within the Swal container */
.swal2-popup .swal2-confirm:focus {
    outline: none; /* Remove the outline */
}

/* For additional focus indication, you might add a box-shadow */
.swal2-popup .swal2-confirm:focus {
    box-shadow: none; /* Example to remove box-shadow if it exists */
}


.view-button-appointments{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.view-button-appointments{
    margin-top: 30px;
}

.view-button-appointments #complete-appointment, .view-button-appointments #cancel-appointment{
    border: none;
    padding: 10px 20px;
    border-radius: 18px;
    cursor: pointer;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: .5s;
    font-size: 16px;
}

.view-button-appointments #complete-appointment{
    background-color: #f4ce74;
    color: rgb(21, 20, 20);
    margin-right: 20px;
}

.view-button-appointments #cancel-appointment{
    background-color: rgb(41, 40, 40);
    color: white;
    margin-left: 20px;
}

.view-button-appointments button:hover{
    opacity: .8;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
 

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

.view-complaint-style-swal{
    height: 750px;
    width: 650px;
}

.cmplt-view-conts{
    
    width: 100%;
    height: 100%;
    font-family: var(--poppins);
}

.cpmlt-header{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(39, 39, 39);
    font-size: 35px;
    padding-left: 5px;
    border-radius: 10px;
    background-color: #fffbcf;
}


.cmplt-info > *{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.cmplt-info > * >*{
    flex: 1;
    text-align: start;
}

.cmplt-info .normal{
    position: relative;
    right: 20px;
}

.cmplt-info{
    margin-top: 40px;
    padding: 0 30px;
}

.cmplt-info .bold{
    color: black;
    font-size: 20px;
}

.complt-footer{
    height: 30px;
    width: 97%;
    background-color: #fffbcf;
    position: relative;
    top: 20px;
}

.cmplt-description{
    display: flex;
    flex-direction: column;
}
.cmplt-description .normal{
    margin-left: 20px;
    border: 2px solid #8c8c8c;
    border-radius: 10px;
    max-height: 110px;
    min-height: 110px;
    overflow-y: auto; /* Allows vertical scrolling */
    padding: 10px; /* Adds some padding for better appearance */
}




.complaint-style-swal{
    height: 920px;
    width: 700px;
}

.main-conts{
    
    width: 99%;
    height: 99%;
}
.complaint-form-title{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.complaint-form-title h2 {
    font-size:40px;
    color:#000000;
    text-align:center;
}
    
.complaint-form-title h2{
    color: #000000;
    position: relative;
}
.complaint-form-title h2::after{
    content: '';
    width: 70px;
    height: 6px;
    border-radius: 3px;
    background: rgb(219, 168, 0); 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.form-description{
    display: flex;
    color: #242424;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #fffbcf;
    
}
.form-content{
    margin-top: 10px;
    height: 83%;
}

.cmplt-each-cnts{
    display: flex;
    flex-direction: row;
}

.cmplt-each-cnts > *{
    display: flex;
    flex-direction: column;
    color: #000000;

    flex: 1;
    padding: 5px 5px 0 5px;
    text-align: start;

}

.cmplt-each-cnts > * p{
    margin-bottom: 5px;
    font-size: 16px;
}

.cmplt-each-cnts > * input{
    padding: 3px 5px;
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
}


.cmplt-message {
    visibility: hidden; 
    height: 20px; 
    display: flex;
    align-items: center;
    color: #DB504A;
}


.cmplt-message p{
    margin-bottom: 0px;
    font-size: 14px;
}

.cmplt-message.show {
    visibility: visible; 
}

.cmplt-each-cnts .inputs{
    width: 100%;
    border: 2px solid #959393;
    border-radius: 4px;
    padding: 5px;
}

#cmpltCategory select{
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
}

#cmpltReason textarea{
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
}

#submit-cmplt{
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #f4ce74;
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
}

#submit-cmplt:hover{
    opacity: .8;
}

.Selectstatus div{
    border-bottom: 2px solid;
    width: 200px;
    
}

.Selectstatus select{
    border: none;
    width: 100%;
    font-size: 18px;
    outline: none;
}

#dlte-cmplt{
    border: none;
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #1f1f1f;
    color: white;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
}

#dlte-cmplt:hover{
    opacity: .8;
}

