

.background-change{
    height: 100px;
    position:absolute;
    width: 89%;
    background-color: rgb(219, 168, 0);
}

.password-popup-content h2{
    font-size: 35px;
    color: #000000;
    position: relative;
    margin-bottom: 100px;
}
.password-popup-content h2::after{
    content: '';
    width: 70px;
    height: 6px;
    border-radius: 3px;
    background: rgb(219, 168, 0); 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.reset-wrapper{
    width: 100%;
    height: 380px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.requirement-password{
    text-align: start;
    position: relative;
    right: 120px;
    font-size: 15px;
    color: #000000;
    margin-top: 10px;
    top: 20px;
}

#requirement-icon{
    margin-right: 5px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
}


.form-box{
    margin-top: 0px;
    width: 100%;
    padding: 10px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #000000;
    margin: 50px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid;
    border-color: transparent;
    outline: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 0 35px 0 5px;
}


.input-box .icon{
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    line-height: 57px;
    cursor: pointer;
}

::placeholder{
    color: rgb(146, 142, 142);
}

.submit-button-reset{
    width: 40%;
    height: 40px;
    background: rgb(219, 168, 0);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    border: 1px solid black;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 20px;
    transition: .5s;
}

.submit-button-reset:hover{
    opacity: .8;
}

#message-confirm{
    position: absolute;
    left: 2px;
    margin-top: 2px;
    font-size: 14px;
}

#message{
    margin-top: 2px;
    font-size: 14px;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: start;
    color: #cf0000;
}

#message-oldpass{
    margin-top: 2px;
    font-size: 14px;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: start;
}

.userChangePassword{
    height: 700px;
    width: 550px;
}

.nwpss-message{
    display: flex;
    align-items: center;
    color: #d10000;
    font-size: 14px;
    visibility: hidden;
}

.required-message {
    color: #cf0000;
    font-size: 14px;
    text-align: start;
    margin-top: 5px;
    visibility: hidden;
}