*{
    margin: 0;
}

.custom-swal-container{
    height: 620px;
    width: 550px;
}

.edit-profile-wrapper{

    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Adjust horizontal alignment */
    align-items: flex-start; 
    margin: 0;
}

.edit-profile-wrapper .h3{
    width: 100%;

    border-color: red;
    text-align: center;
    color: black;
    position: relative;
    font-size: 20px;
}
.update-picture{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#profile-icon{
    width: 140px;
    height: 140px;
    margin: 10px 0;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 4px solid white;
    position: relative;
}

.update-picture label{
    display: block;
    width: 130px;
    background-color:rgb(219, 168, 0) ;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    transition: .5s;
}

.update-picture label:hover{
    opacity: .8;
}


.update-picture input{
    display: none;
}

.form{
    padding: 20px;
}
.form form{
    text-align: start;
}

.form form .input-box{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #000000;
    margin: 10px 0;
    margin-bottom: 20px;

}

.form form input{
    width: 400px;
    height: 35px;
    font-size: 16px;
    border-radius: 4px;
    border-bottom: 1px solid;
    background: transparent;
    border-color: transparent;
    outline: none;
    
}

::placeholder{
    color: black;
}

.background{
    position: absolute;

    height: 130px;
    width: 89%;
    background-color: rgb(219, 168, 0);
}

.input-box span{
    position: absolute;
    right: 5px;
}

.submit-button{
    width: 60%;
    height: 45px;
    background: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 50px;
    transition: .5s;
    margin-left: 85px;
}

.submit-button:hover{
    opacity: .8;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

.message-email{
    font-size: 12px;
    color: red;
}


.swal2-close{
    font-size: 30px;
    border: none;
    color: #000000;
}

