@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

.complaint-style-swal{
    height: 920px;
    width: 700px;
}

.main-conts{
    
    width: 99%;
    height: 99%;
}
.complaint-form-title{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.complaint-form-title h2 {
    font-size:40px;
    color:#000000;
    text-align:center;
}
    
.complaint-form-title h2{
    color: #000000;
    position: relative;
}
.complaint-form-title h2::after{
    content: '';
    width: 70px;
    height: 6px;
    border-radius: 3px;
    background: rgb(219, 168, 0); 
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.form-description{
    display: flex;
    color: #242424;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #fffbcf;
    
}
.form-content{
    margin-top: 10px;
    height: 83%;
}

.cmplt-each-cnts{
    display: flex;
    flex-direction: row;
}

.cmplt-each-cnts > *{
    display: flex;
    flex-direction: column;
    color: #000000;

    flex: 1;
    padding: 5px 5px 0 5px;
    text-align: start;

}

.cmplt-each-cnts > * p{
    margin-bottom: 5px;
    font-size: 16px;
}

.cmplt-each-cnts > * input{
    padding: 3px 5px;
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
}


.cmplt-message {
    visibility: hidden; /* Hidden but keeps the space */
    height: 20px; /* Optional, to maintain space consistency */
    display: flex;
    align-items: center;
    color: #DB504A;
}

.cmplt-message p{
    margin-bottom: 0px;
    font-size: 14px;
}

.cmplt-message.show {
    visibility: visible; /* Makes the content visible */
}

.cmplt-each-cnts .inputs{
    width: 100%;
    border: 2px solid #959393;
    border-radius: 4px;
    padding: 5px;
}

#cmpltCategory select{
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
}

#cmpltReason textarea{
    font-size: 18px;
    border: none;
    outline: none;
    width: 100%;
    resize: none;
}

#submit-cmplt{
    border: none;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: #f4ce74;
    font-weight: 500;
    transition: .5s;
    cursor: pointer;
}

#submit-cmplt:hover{
    opacity: .8;
}
