/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100%;
  background: #d8d8d8d1;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #2a2a2a;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: white;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

.logo img{
  width: 60px;
}

.sidebar .logo-name{
  color: #000000;
}

.sidebar .menu-icon{
  color: #000000;
}

.list{
  margin-top: 30px;
}


nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .nav-link:hover {
  background-color: #f8c44c;
}
.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
  color: #fff;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}


.admin-dashboard{
  margin: 70px auto 0 400px;
  width: 1300px;
  height: 1250px;
  
  
}

.dashBoard-title{
  display: flex;
  flex-direction: row;
} 
.dashboard-title-container,.messageinbox-container{
  width: 100%;
}
.title{
  font-size: 25px;
  margin: 30px 0;
}


.view-section .icon{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  row-gap: 5px;

}

.view-section{
  
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  cursor: pointer;
}

.number-residents{
  font-size: 30px;
  position: relative;
  left: 380px;
  top: 20px;
}
.picture{
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture img{
  width: 50px;
}

.view-residents{
  background-color: #f8c44c;
  color: black;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.messageinbox-container .conts {
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  width: 450px;
  position: relative;
  top: 120px;
  right: 80px;
  border-radius: 12px;
  height: 250px;
}

.profile-who-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Keeps elements aligned at the start */
  gap: 10px; /* Provides consistent spacing between elements */
  margin-top: 20px;
}

.profile-who-message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0; /* Prevents the image from shrinking */
}

.profile-who-message .usernames {
  font-size: 16px; /* Reduced font size to prevent excessive wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis when text overflows */
  white-space: nowrap; /* Prevent text from wrapping */
  max-width: 150px; /* Set a max width to control overflow */
}

.profile-who-message .usernames {
  flex-basis: 50%; /* Ensures it takes half the available space */
}

.profile-who-message .email-message {
  flex-basis: 50%; /* Ensures it takes half the available space */
  color: #5b5a5a72;
}

.profile-who-message > * {
  display: flex;
  align-items: center;
}

.view-more{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  align-items: center;
  cursor: pointer;
  justify-content: end;
  position: absolute;
  top: 190px;
}

.view-more .icon{
  margin-top:6px;
}

#curve_chart {
  border-radius: 20px;
  background-color: rgb(192, 24, 24); /* Optional: to visualize changes */
}



.verify-view-section .icon{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  row-gap: 5px;

}

.verify-view-section{
  display: flex;
  flex-direction: row;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 380px;
  top: 480px;
  width: 450px;
}

.verify-view-section .number-residents{
  font-size: 30px;
  position: relative;
  left: 180px;
  top: 20px;
}

.complaints-view-section .icon{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  row-gap: 5px;

}

.complaints-view-section{
  display: flex;
  flex-direction: row;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 380px;
  top: 610px;
  width: 450px;
}

.complaints-view-section .number-residents{
  font-size: 30px;
  position: relative;
  left: 235px;
  top: 20px;
}

.pending-request-section{
  border-radius: 30px;
  position: absolute;
  bottom: -30px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(250, 247, 237);
  width: 1040px;
}

.first-conts{
  border-radius: 20px;
  width: 130px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-left: 30px;
  
}

.first-conts h1{
  font-size: 30px;
  margin-top: 10px;
}

.first-conts h4{
  margin-top: 45px;
}

.first-conts .icon{
 
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -150px;
  left: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  
}

.first-conts span{
  color: #aeabab;
}

.second-conts{
  border-radius: 20px;
  width: 130px;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffd26a;
  margin-left: 30px;
  position: absolute;
  right: 415px;
  top: 780px;
}

.second-conts .icon-second{
  margin-top: 25px;
  cursor: pointer;
}

.appointment-conts{
  position: absolute;
  bottom: -255px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;

}

.days , .month-year{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.days .number{
  font-size: 60px;
  font-weight: 500;
}

.month-year{
  width: 100px;
  background-color: #f4ce74;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.appointment-view{
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointment-view-section .icon{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  row-gap: 5px;

}

.appointment-view-section{
  display: flex;
  flex-direction: row;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  display: flex;
  
  align-items: center;
  right:775px;
  top: 1015px;
  width: 450px;
  height: 200px;
}

.appointment-view-section .picture img{
  width: 80px;
}

.appointment-view-section .icon h4{
  font-size: 25px;
}

.appointment-view-section .icon div{
  width: 100px;
  height: 30px;
  font-size: 20px;
}


.appointment-view-section .number-residents{
  font-size: 40px;
  position: relative;
  left: 120px;
  top: 70px;
}

.admin-footer{
  display: flex;
  flex-direction: row;
  padding: 30px;
  border-radius: 20px;
  position: absolute;
  bottom: -380px;
  width: 1100px;
  background-color: white;

  
}

.admin-footer p{
  margin-left: 10px;
}



.admin-footer #site{
  color: rgb(86, 168, 255);
}

.send-message-section{
  position: absolute;
  bottom: -266px;
  right: 400px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  height: 200px;
  width: 350px;
  border-top: 10px solid rgb(0, 0, 0);
}

.send-message-section .name{
  font-size: 23px;
}

.input-message input{
  background: transparent;
  border-color: transparent;
  outline: none;
  margin-left: 10px;
  font-size: 16px;
  width: 100%;
}

.input-message p{
  font-size: 16px;
}

.input-message {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  margin-top: 20px;
  
  align-items: center;
}

.send-message-section button{
  margin-top: 30px;
  width: 80px;
  padding: 3px 0;
  border: none;
  background-color: #f4ce74;
  font-size: 16px;
  border-radius: 10px;
}

.snd-message {
  display: flex;
  color: rgb(154, 2, 2);
  align-items: center;
  position: absolute;
  visibility: hidden;
}





#writeMessage{
  cursor: pointer;
}
.view-residents{
  transition: .5s;
  width: 90px;
}
.view-residents:hover{
  opacity: .8;
}








@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
 
*{
    margin: 0;
    padding: 0;
    font-family: var(--poppins);
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

.send-message-swal{
    height:500px;
    width: 800px;
}

.snd-mssg-cnts{
    width: 99%;
    height: 98%;
    box-shadow: 0px 6px 10px black;
    text-align: start;
}

.snd-mssg-cnts textarea{
    width: 100%;
    height: 330px;
    resize: none;
    outline: none;
    font-size: 18px;
    margin-top: 40px;
    border: none;
    
}

#snd-mssg-email{
    border: none;
    padding: 5px 35px;
    border-radius: 20px;
    font-size: 18px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: #ffc813;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

#snd-mssg-email:hover{
  opacity: .8;
}



.snd-message-admin{
    display: flex;
    color: rgb(154, 2, 2);
    align-items: center;
    position: absolute;
    visibility: hidden;
}




 .log-out {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}
.lists .log-out:hover {
  background-color: #f8c44c;
}
.log-out .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}