.to-verify-section{
    margin: 70px auto;
    width: 1200px;
    background-color: white;
}

.title-conts{
    height: 150px;
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 217, 92);
}

.title-conts h1{
    font-size: 40px;
}

.title-conts .nosVerify{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.to-verify-section hr {
    margin-top: 20px;
    height: 10px;
    background-color: rgb(41, 41, 41);
    border: none;
}

.rows-verify{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}

.rows-verify > *{
    flex: 1; /* Each child element takes up equal space */
    text-align: center; /* Optional: Center-align text within each element */
}
.each-user-conts{
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 40px 0;
    margin-top: 10px;
}

.each-user-conts > *{
    flex: 1; /* Each child element takes up equal space */
    text-align: center; /* Optional: Center-align text within each element */
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.actions .middle{
    margin: 0 30px;
}

.actions .middle ion-icon{
    color: rgb(6, 123, 8);
}

.actions .search ion-icon{
    color: rgb(52, 150, 255);
}

.verify-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.status-conts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    border-radius: 12px;
    background-color: #f4ce74;
    font-size: 14px;
}

.status-conts ion-icon{
    margin-left: 5px;
}

.actions ion-icon{
    cursor: pointer;
}
.rejected ion-icon{
    color: red;
}

.zero-verification{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    font-size: 20px;
    color: rgb(175, 172, 172);
}

#Verify-button{
    cursor: pointer;
    color: rgb(57, 179, 255);
    transition: .5s;
    font-weight: 500;
}

#Verify-button:hover{
    font-size: 20px;
}





